.ContactList {
  width: 600px;
}

.ContactList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.ContactList__data {
  margin-top: 0px;
  margin-right: 10px;
  align-items: center;
}

.ContactList__button {
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 4px;
}
